*{
	margin: 0;
	padding: 0;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
* , *:before, *:after {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.clear{
	clear: both;
}
::selection {
    background:#282828 ;
    color: #Ca3030;
    text-shadow: none;
}
.label{
	color: #373737;
}
.buttonGeneral{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 13px;
    display: inline-block;
    outline:0;
    margin: 5px 0px 10px 0px;
    padding: 10px 20px;
    background-color: #Ca3030;
    color: #e5c9c9;
    font-size: 16px;
    -moz-box-shadow: 0 4px 0 #4922222,0 8px 3px rgba(0,0,0,0.3),0 -2px 15px rgba(0,0,0,0.1) inset ;
    -moz-text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 4px 0 #922222,0 5px 3px rgba(0,0,0,0.3),0 -2px 15px rgba(0,0,0,0.1) inset ;
    -webkit-text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -o-box-shadow: 0 4px 0 #922222,0 8px 3px rgba(0,0,0,0.3),0 -2px 15px rgba(0,0,0,0.1) inset ;
    -o-text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 4px 0 #922222,0 8px 3px rgba(0,0,0,0.3),0 -2px 15px rgba(0,0,0,0.1) inset ;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    border:none;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    cursor: pointer;
}
.buttonGeneral:active{
    -webkit-box-shadow: 0 2px 0 #4b4b4b,0 4px 3px rgba(0,0,0,0.3),0 -2px 15px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 2px 0 #4b4b4b,0 4px 3px rgba(0,0,0,0.3),0 -2px 15px rgba(0,0,0,0.1) inset;
    -o-box-shadow: 0 2px 0 #4b4b4b,0 4px 3px rgba(0,0,0,0.3),0 -2px 15px rgba(0,0,0,0.1) inset;
    box-shadow: 0 2px 0 #4b4b4b,0 4px 3px rgba(0,0,0,0.3),0 -2px 15px rgba(0,0,0,0.1) inset;
    position: relative;
    top: 3px;
}
a{
	color : #f8c13b;
	text-decoration: underline;
}
body{
	font-family: sans-serif;
	/*background: #C1C1C1;*/
	background-image: url("../images/bg.jpg");
}
#page{
	width: 1200px;
	margin:auto;
}
header{
	width: 1200px;
	height: 241px;
	background-image: url("../images/header_BG.jpg");
}
header #menu #index{
	display: block;
	position: absolute;
	width: 220px;
	height: 100px;
	background: transparent;
}
header #menu ul{
	padding-top: 20px;
	width: 850px;
  	height: 50px;
  	float: right;
	list-style: none;
}
header #menu ul li{
	font-size: 1.2em;
	display: inline-block;
	list-style: none;
	margin-right: 50px;
}
header #menu ul li span{
	display: inline-block;
	width: 40px; 
	height: 40px;
}
header #menu ul li span#userPlus{
	background-image: url("../images/userPlus.png");
}
header #menu ul li span#user{
	background-image: url("../images/user.png");
}
header #menu ul li span#deco{
	background-image: url("../images/deco.png");
}
header #menu ul li a {
	color : #f8c13b;
	text-decoration: underline;
}
header #search{
	width: 1100px;
	margin:100px 50px 0px 50px;
	float: right;
  		background: #C1C1C1;
  		border-radius:5px;
  		padding: 10px;
}
header #search input[type="text"], select{
	width: 300px;
	height: 50px;
	margin-right: 10px;
	background: #efefef;
	border: 1px solid #f8c13b ;
	outline: none;
	font-size: 16px;
	color: #797979;
}
header #search input[type="text"]{
	padding-left: 10px;
	font-size: 20px;
	border-radius:5px;
}
header #search select{
	
}
section#body{
	width: 1200px;
}
section#body div.annonsBloc{
	padding:5px;
	width: 380px;
	height: 450px;
	background: #dedddf;
	border-radius:5px;
	box-shadow: 2px 2px 3px rgba(0,0,0,.1) ,-2px -2px 3px rgba(0,0,0,.1) ;
	float: left;
	margin: 10px 10px 10px 10px;
}
section#body div.annonsBloc div.validationBloc{
	height: 50px;
	background: #a62c1f;
}
section#body div.annonsBloc div.descriptionBlok{
	height: 50px;
	background: #a62c1f;
}
section#body div.annonsBloc img{
	width: 320px;
	height: 280px;
	margin-left: 30px;
}
section#body #inscriptionBloc, section#body #loginBloc{
	text-align: center;
	width: 1200px;
	background : rgba(0, 0, 0, 0.7);
	border-top: 20px solid #f8c13b;
	padding-bottom: 30px;
}

section#body #inscriptionBloc #formInscr, section#body #loginBloc #formLogin{
	width:540px;
	background: #a5a5a5;
	margin: 20px auto;
	padding-bottom: 30px;
	border-radius:5px; 
	color: #373737;
}
section#body #inscriptionBloc #formInscr p, section#body #loginBloc #formLogin p{
	padding-top: 10px;
	font-size: 1.3em; 
}
section#body #inscriptionBloc #formInscr div, section#body #loginBloc #formLogin div{
	border-radius:5px 5px 0px 0px;
}
.field{
	width: 300px;
	height: 40px;
	margin-right: 10px;
	background: #efefef;
	border: 1px solid #f8c13b ;
	outline: none;
	font-size: 16px;
	color: #797979;
	border-radius:3px;
	margin-bottom: 10px;
	padding-left: 10px;
}
section#body #inscriptionBloc #formInscr form select{
	border: none ;
}
section#body #inscriptionBloc #formInscr #confidentialite, section#body #loginBloc #formLogin #confidentialite{
	border-radius: 0px;
	padding: 10px 5px;
	background: #3aa56f;
	color: #f1f1f1;
}
.divError{
	
	background: rgb(209, 0, 0);
	color: rgb(246, 209, 197);
}
.errorMessage{
	padding: 10px 5px;
	list-style: none;
}
section#body a{
	color: #f8c13b;
}
section#body a:hover{
	color: #fff;
}
#ic_add{
    width: 120;
    margin-left: 60px;
    margin-top: 10px;
}
#ic_add:HOVER{
	cursor: pointer;
	transform: rotate(360deg);
	
}
.fileUpload:HOVER{
	cursor: pointer;
}
textarea{
	ont-family: 'PT Sans', sans-serif;
	resize: vertical;
}
footer{
	border-top: 5px solid #f8c13b;
	width: 1200px;
	padding:20px 0px 10px 20px;
	color: #3b3d2b;
	background-color: rgb(183, 186, 141);
}